.content{
     min-height: 100vh;
     background-image: url(../image/main-background.png);
     background-size: 100% auto;
     background-position: center;
     background-repeat: no-repeat;
}

.card-custom .card-header{
    border-radius: 15px 15px 0px 0px;
    background-color: #DF2522;
}

.card-custom .card-header,.card-custom .card-body, .card-custom .card-footer{
    padding: 10px 18px;
}

.card-custom .card-body .card-content{
    max-height: 300px;
    overflow: scroll;
}
.card-custom .card-body .card-content::-webkit-scrollbar {
    width: 8px;
}

.card-custom .card-body .card-content::-webkit-scrollbar-track {
    background: transparent;
}

.card-custom .card-body .card-content::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 5px;
}
.card-custom .card-body .card-content::-webkit-scrollbar-thumb:hover {
    background: #c7c7c7;
}

.card-custom .card-footer{
    border-radius: 0px 0px 15px 15px;
    background-color: #DF2522;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .custom-checkbox{
    margin-right: 28px;
  }

  .bottom-rounded{
    border-radius: 0px 0px 15px 15px;
  }


  .top-rounded{
    border-radius: 15px 15px 0px 0px;
  }
  /* Hide the browser's default checkbox */
  .custom-checkbox .input {
    position: absolute;
    /* opacity: 0; */
    cursor: pointer;
    top: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #DF2522;
  }
  
  /* On mouse-over, add a grey background color */
  .custom-checkbox:hover .input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .custom-checkbox .input:checked ~ .checkmark {
  
    border: 1px solid #DF2522;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .custom-checkbox .input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .custom-checkbox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 8px;
    height: 10px;
    border: solid red;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .btn-warning{
    border-radius: 15px;
    border: 1px;
    -moz-box-shadow:    inset 0 0 4px #000000ab;
    -webkit-box-shadow: inset 0 0 4px #000000ab;
    box-shadow:         inset 0 0 4px #000000ab;
  }

  .lang-setting{
    border-radius: 50em;
    border: 1px solid #000;
    padding: 3px;
    background: white;
  }

  .lang-setting .language-list{
    position: absolute;
    width: 200px;
    background-color: #ccc;
    top: 60px;
    right: 0;
    border-radius: 15px;
  }

  .lang-setting .language-list div:hover, .lang-setting .language-list div.active{
    background-color: #DF2522;
    color: white;
  }

  .lang-setting .language-list::before{
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% + 30px);
    border-style: solid;
    height: 0;
    width: 0;
    border-color: transparent transparent #ccc;
    border-width: 0 10px 10px;
  }

  .form-control{
    border: 1px solid #000;
    border-radius: 10px;
  }
  

  .form-custom{
    background-color: #F1F1F1!important;
    border: 0px;
    border-radius: 15px;
  }

  .btn-close{
    background-color: #DD7A7A;
    color: white;
    padding: 3px;
    font-weight: bold;
    font-size: 30px;
    line-height: unset;
    display: flex;
    align-items: center;
  }
  
  .lang-setting.show-top .language-list::before{
    bottom: -10px;
    transform: rotate(180deg);
    top: unset;
  }

  .lang-setting.show-top  .language-list{
    top: -300%;
  }

  .widget-language{
    position: absolute;
    right: 0px;
    top: 20px;
  }

  #modal-agreement{
    transition: .3s ease-in-out;
  }

  #modal-agreement.hide{
    transform: scale(.7);
    opacity: 0;
  }

  .content-lobby{
    background-image: url(../image/0001-0360.gif);
  }

  .door-1{
    left: 21%;
    bottom: 20%;

  }

  .door-2{
    bottom: 32%;
    right: 33%;
  }

  .hall-door{
    display: none;
  }

  .hall-door img{
    width: 50px;
  }

  .content-lobby{
    background-size: cover;
  }

  @media(max-width:1230px){
    .door-1{
        bottom: 30%;
        left: 20%;
    }
  }

  @media(max-width:1100px){
    .door-2{
        bottom: 32%;
        right: 30%;
      }
  }


  @media(max-width:900px){
    .door-1{
        left: 15%;
    }
  }
  @media(max-width:800px){
    .door-2{
        right: 24%;
    }
  }

  @media(max-width:767px){
    .door-1{
        left: 12%;
    }
    .content{
        background-size: cover;

    }
  @media (max-width:680px){
    .door-1{
        left: 7%;
    }
  }


  }